@import url("https://fonts.googleapis.com/css2?family=Literata:wght@500&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 100px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 20px;
}

.todo-app h2 {
  color: #0a2c62;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.todo-app h2 img {
  width: 30px;
  height: 30px;
  display: flex;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 10px;
  padding: left 20px;
  margin-bottom: 25px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #009211;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 14px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */

  /* Example styles */
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }
}

@media only screen and (max-width: 375px) {
  /* Styles for devices with a screen width of 375 pixels */

  /* Example styles */
  body {
    font-size: 8px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  #input-box {
    text-align: center;
    width: 70%;
  }

  button {
    display: flex;
    text-align: left;
    justify-content: centerss;
    width: 30px;
    padding-left: 1px;
    margin-left: 5px;
    width: 30%;
  }
}

.attribute_the_author {
  color: #edeef0;
}
.authors_link {
  display: flex;
  flex-direction: column;
}
